.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .btn-scan-qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.home .icon-qrcode{
    color: tomato;
    width: 80px;
    height: 80px;
    margin-top: 30px;
}