.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .btn-scan-qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.home .icon-qrcode{
    color: rgb(7, 95, 228);
    width: 80px;
    height: 80px;
    margin-top: 30px;
}
.btn-scan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-scan{
    color: #49557e;
    font-weight: 600;
    font-size: 25px;
}
.input-box{
    margin-top: 30px;
}